.bg-container{
  background-color: blueviolet;
  height: 100vh;
  top: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: brown;
  text-shadow: 
  1px 1px 1px white,  
  -1px -1px 1px white, 
  1px 1px 1ch yellow,  
  -1px -1px 4px yellow;

}

.timer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color:rgb(187, 111, 11);
  text-shadow: 
  1px 1px 1px rgb(255, 254, 254),  
  -1px -1px 1px rgb(0, 0, 0), 
  1px 1px 1ch rgb(108, 40, 108),  
  -1px -1px 4px rgb(154, 19, 147);
}
.span{
  color: rgb(47, 74, 55);
  text-shadow: 
  1px 1px 1px white,  
  -1px -1px 1px white, 
  1px 1px 1ch green,  
  -1px -1px 4px green;
  padding-left: 15px;

}
.phara{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: brown;
  text-shadow: 
  1px 1px 1px rgb(14, 11, 11),  
  -1px -1px 1px white, 
  1px 1px 1ch yellow,  
  -1px -1px 1px yellow;
}